<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="../../static/css/usuarios.css" th:href="@{/css/usuarios.css}" rel="stylesheet" />
    <title>Cliente</title>
</head>
<body class="ajuste">
<div class="negro">
    <nav>
        <a th:href="@{/landing/index}">
            <img th:src="@{/imagenes/logo2.png}" class="logo1" alt="LogoParyapp1">
        </a>
        <div id="title">
            <a th:href="@{/landing/index}">
                <img th:src="@{/imagenes/logo3.png}"  alt="LogoParyapp2">
            </a>
        </div>
    </nav>

    <h1 class="titulos ">¿Por qué ser parte de PARYAPP?</h1>
</div>
<div class="fondo ">
    <div class="grid-wrapper" >
        <div class="card " style="width: 18rem;">
            <div class="card-body titulos">
                <h5 class="card-title">Compra tus entradas</h5>
                <p class="card-text">Adquiérelas desde cualquier lugar.</p>
            </div>
            <img th:src="@{/imagenes/cliente1.jpg}" class="card-img-top borde" alt="cliente1">
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body titulos">
                <h5 class="card-title">Disfruta de tus gustos</h5>
                <p class="card-text">Encuentra opciones según lo que te gusta.</p>
            </div>
            <img th:src="@{/imagenes/cliente2.jpg}" class="card-img-top borde" alt="cliente2">
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body titulos">
                <h5 class="card-title">Sin preocupaciones</h5>
                <p class="card-text">Total seguridad al momento de comprar tu entrada</p>
            </div>
            <img th:src="@{/imagenes/cliente3.jpg}" class="card-img-top borde" alt="cliente3">
        </div>
    </div>

</div>
<h2 class=" negro titulos">¿Qué esperas para unirte?</h2>
<div class="padleft">
    <a th:href="@{/landing/registro}">
        <button >
            <h4>Se parte de la experiencia </h4>
            <h4>Regístrate</h4>
        </button>
    </a>
</div>
<footer>
    <a th:href="@{/landing/contacto}">
        <button class="ancho"><h4>Contáctanos</h4></button>
    </a>
    <a href="https://www.facebook.com/ParyApp-106549971120521/?modal=admin_todo_tour" title="Ir a nuestra página de Facebook">
        <img th:src="@{/imagenes/facebook.png}" alt="Ir a nuestra página de Facebook">
    </a>
    <a href="https://www.instagram.com/paryapp1/" title="Ir a nuestra cuenta de Instagram">
        <img th:src="@{/imagenes/instagram.png}" alt="Ir a nuestra cuenta de Instagram">
    </a>
</footer>
</body>
</html>
