<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/recuperacioncontraseña.css">
    <title>RECUPERACIÓN DE CONTRASEÑA</title>
</head>
<body>

<!--LOGOS-->

<nav>
    <a href="index.html"><img src="img/logo1.png" class="logo1" alt="pary app"></a>
    <div id="tittle">
        <a href="index.html"><img src="img/logo.png" alt="pary app"></a>
    </div>
</nav>
<!--FIN DE LOS LOGOS-->


<div class="contenedor">  <!--CONTENEDOR DE LA IMAGEN DE FONDO-->

    <div class="contenedor2">

        <!--FORMULARIO-->

        <section class="form-duda">
            <h5 class="duda">Restablecimiento de contraseña</h5>
            <p class="duda">Pon la dirección de correo electrónico que utilizaste para registrarte en PARYAPP.</p>
            <p class="duda">Te enviaremos un correo con un enlace para que puedas restablecer tu contraseña.</p>
            <input class="controls" type="email" name="email" id="email" placeholder="Dirección de correo electrónico">
            <a href="javascript:abrir()"> <button class="botons" > <h4>Enviar</h4> </button></a>
            <p class="duda">Si aún necesitas ayuda, ponte en contacto con el
            <div class="recu-link"><a href="contacto.html" class="recuperar"> Soporte de PARYAPP </a></div>  </p>

            <!--FIN DE LA VENTANA EMERGENTE-->

        </section>

        <!--VENTANA EMERGENTE AL PRESIONAR EL BTN ENVIAR PREGUNTA-->

        <div class="ventana" id="vent">
            <a href="javascript:cerrar()"> <img class="cerrar" src="img/cerrar.png" title="Cerrar" alt="cerrar ventana"> </a>
            <h3>¡Tu solicitud se ha enviado con éxito!</h3>
            <p>Revisa tu correo electrónico y da click en el enlace que te hemos mandado. Sigue los pasos y vuelve a tener el control de tu cuenta.</p>
            <p>¡Gracias por confiar en nosotros!</p>
            <footer>
                <p>New Wave Corportation Team </p>
            </footer>

        </div>

        <!--FIN DEL FORMULARIO-->

    </div>
</div>

<!--REDES SOCIALES-->

<footer>
    <a href="contacto.html"> <button class="btn" > <h4>Contáctanos </h4></button></a>

    <a href="https://www.facebook.com/ParyApp-106549971120521/?modal=admin_todo_tour" title="Ir a nuestra página de Facebook">
        <img src="img/facebook.png" alt="Ir a nuestra página de facebook">
    </a>

    <a href="https://www.instagram.com/paryapp1/" title="Ir a nuestra página de Instagram">
        <img src="img/instagram.png" alt="Ir a nuestra página de instagram">
    </a>
</footer>

<!--FIN DE REDES SOCIALES-->

<script src="js/contacto.js"></script>
</body>
</html>