<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"></meta>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
</head>

<body>
	<!-- th:fragment define un fragment los cuales sirven para evitar la redundancia de codigo -->
	<!-- Sintaxis th:fragment="Nombre del fragment" -->
	<div th:fragment="header">
		<!-- this is header -->
		<nav class="navbar navbar-inverse">
			<div class="container">

				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/user/bienvenido}">PARYAPP</a>
				</div>

				<div id="navbar" class="collapse navbar-collapse">

					<ul class="nav navbar-nav">

						<li class="active"><a th:href="@{/user/listar}">Usuario</a></li>
						<li class="active"><a th:href="@{/bank/list}">Banco</a></li>
						<li class="active"><a th:href="@{/card/list}">Tarjeta</a></li>
						<li class="active"><a th:href="@{/category/list}">Categoria</a></li>
						<li class="active"><a th:href="@{/event/list}">Evento</a></li>
						<li class="active"><a th:href="@{/purchase/irRegister}">Comprar Entradas</a></li>
						<li class="active"><a th:href="@{/purchase/list}">Historial de Compras</a></li>
						<li class="active"><a th:href="@{/comment/list}">Comentario</a></li>
						<li class="active"><a th:href="@{/message/listar}">Mensaje</a></li>
					</ul>

				</div>
				
				<div class="modal-footer">
					<form id="logoutForm" th:action="@{/logout}" method="post">
						<button class="btn btn-danger"
							onclick="document.getElementById('logoutForm').submit();"
							type="submit">Cerrar sesion</button>
						
					</form>
				</div>

			</div>
		</nav>
	</div>

</body>

</html>
