<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Compra</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>



</head>
<body>
	<!-- Los fragment se insertan ya sea con th:include o th:replace -->
	<!-- th:include simplemente se inserta dentro del espacio asignado -->
	<!-- th:replace remplaza todo el espacio asignado por el fragment correspondiente -->
	<!-- sintaxis th:include/replace="rutafragment :: Nombre del fragment -->
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<!-- th:action toma la accion de un form que se ejecutara por medio de un boton-->
		<!-- @{} Expresion de enlace -->
		<!-- ${} Declaracion de Variable -->
		<!-- th:object declara un objeto que sera usado por los *{} -->
		<form th:action="@{/purchase/register}" method="post" th:object="${purchase}"
		
			enctype="multipart/form-data">
			<div class="form-group">
			<!-- *{} Setea la variable -->
				<label for="idevent">ID:</label> <input type="text"
					class="form-control" th:field="*{idPurchase}"></input>

				<div class="form-group">
				
					<label for="comprador" class=" col-sm-2 col-form-label">Comprador: </label>
					<select
						class="form-control" th:field="*{user.idUser}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" -->
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="u: ${listaUsuarios}" th:value="${u.idUser}"
							th:text="${u.nameUser} + ' ' + ${u.lastnameUser}"
							th:selected="(${u.idUser} == *{user.idUser})"></option>
					</select>
						
					<label for="evento" class=" col-sm-2 col-form-label">Evento: </label>
					<select
						class="form-control" th:field="*{event.idEvent}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" -->
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="e: ${listaEventos}" th:value="${e.idEvent}"
							th:text="${e.nameEvent}"
							th:selected="(${e.idEvent} == *{event.idEvent})"></option>
					</select>
					
					<label for="entradas">CANTIDAD DE ENTRADAS:</label> <input type="text"
						th:field="*{numberTickets}" class="form-control" id="entradas"></input>
						<!-- th:if Para establecer condiciones, las variables solo son booleanas -->
						<!-- #{} Expresion de mensaje -->
						
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('numberTickets')}" th:errors="*{numberTickets}">
					</div>
				
				</div>

			</div>

			<button type="submit" class="btn btn-primary">Aceptar</button>
			<a href="/purchase/list" class="btn btn-danger">Cancelar</a>

		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>

